{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div  class="jumbotron">
            <div class="date">
                <p>Published:{{ post.published_date}}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}